- var location = ''
- var images = location + 'svg'

- var css = location + 'css'
- var bower = location + '../bower_components'
- var js = location + 'js'

head
  title Burbl
  meta(name='viewport', content='width=device-width,user-scalable=no')
  link(href='#{bower}/normalize-css/normalize.css', rel='stylesheet')
  link(href='#{css}/fonts.css', rel='stylesheet')
  link(href='#{css}/basic.css', rel='stylesheet')
  link(href='#{css}/icons/icons_desktop.css', rel='stylesheet')
  link(href='#{css}/icons/icons_tablet.css', rel='stylesheet')
  link(href='#{css}/icons/icons_mobile.css', rel='stylesheet')
  link(href='#{css}/elements/header/header_desktop.css', rel='stylesheet')
  link(href='#{css}/elements/header/header_tablet.css', rel='stylesheet')
  link(href='#{css}/elements/header/header_mobile.css', rel='stylesheet')
  link(href='#{css}/elements/menu-footer/menu-footer_desktop.css', rel='stylesheet')
  link(href='#{css}/elements/menu-footer/menu-footer_tablet.css', rel='stylesheet')
  link(href='#{css}/elements/menu-footer/menu-footer_mobile.css', rel='stylesheet')
  link(href='#{css}/elements/main-header/main-header_desktop.css', rel='stylesheet')
  link(href='#{css}/elements/main-header/main-header_tablet.css', rel='stylesheet')
  link(href='#{css}/elements/main-header/main-header_mobile.css', rel='stylesheet')
  link(href='#{css}/mainStyles/main_desktop.css', rel='stylesheet')
  link(href='#{css}/mainStyles/main_tablet.css', rel='stylesheet')
  link(href='#{css}/mainStyles/main_mobile.css', rel='stylesheet')
  link(href='#{css}/notifications/notifications_desktop.css', rel='stylesheet')
  link(href='#{css}/notifications/notifications_tablet.css', rel='stylesheet')
  link(href='#{css}/notifications/notifications_mobile.css', rel='stylesheet')
  link(href='#{css}/about/about_desktop.css', rel='stylesheet')
  link(href='#{css}/about/about_tablet.css', rel='stylesheet')
  link(href='#{css}/about/about_mobile.css', rel='stylesheet')
  link(href='#{css}/profile/profile_desktop.css', rel='stylesheet')
  link(href='#{css}/profile/profile_tablet.css', rel='stylesheet')
  link(href='#{css}/profile/profile_mobile.css', rel='stylesheet')
  link(href='#{css}/donate/donate_desktop.css', rel='stylesheet')
  link(href='#{css}/donate/donate_tablet.css', rel='stylesheet')
  link(href='#{css}/donate/donate_mobile.css', rel='stylesheet')
  link(href='#{css}/popup/popups.css', rel='stylesheet')
  link(href='#{css}/search/search_desktop.css', rel='stylesheet')
  link(href='#{css}/search/search_tablet.css', rel='stylesheet')
  link(href='#{css}/search/search_mobile.css', rel='stylesheet')
  link(href='#{css}/upload/upload_desktop.css', rel='stylesheet')
  link(href='#{css}/upload/upload_tablet.css', rel='stylesheet')
  link(href='#{css}/upload/upload_mobile.css', rel='stylesheet')
  link(href='#{css}/share/share_desktop.css', rel='stylesheet')
  link(href='#{css}/share/share_tablet.css', rel='stylesheet')
  link(href='#{css}/share/share_mobile.css', rel='stylesheet')
  link(href='#{css}/mainPage/main_desktop.css', rel='stylesheet')
  link(href='#{css}/mainPage/main_tablet.css', rel='stylesheet')
  link(href='#{css}/mainPage/main_mobile.css', rel='stylesheet')
  link(href='#{css}/improve/improve_desktop.css', rel='stylesheet')
  link(href='#{css}/improve/improve_tablet.css', rel='stylesheet')
  link(href='#{css}/improve/improve_mobile.css', rel='stylesheet')
  link(href='#{css}/reg/reg_desktop.css', rel='stylesheet')
  link(href='#{css}/reg/reg_tablet.css', rel='stylesheet')
  link(href='#{css}/reg/reg_mobile.css', rel='stylesheet')
  link(href='#{css}/openPhoto/openPhoto_desktop.css', rel='stylesheet')
  link(href='#{css}/openPhoto/openPhoto_tablet.css', rel='stylesheet')
  link(href='#{css}/openPhoto/openPhoto_mobile.css', rel='stylesheet')
  link(href='#{css}/settings/settings_desktop.css', rel='stylesheet')
  link(href='#{css}/settings/settings_tablet.css', rel='stylesheet')
  link(href='#{css}/settings/settings_mobile.css', rel='stylesheet')
  link(href='#{css}/settings-edit/settings_desktop.css', rel='stylesheet')
  link(href='#{css}/settings-edit/settings_tablet.css', rel='stylesheet')
  link(href='#{css}/settings-edit/settings_mobile.css', rel='stylesheet')
  link(href='#{css}/media.css', rel='stylesheet')

  script(src='#{bower}/jquery/dist/jquery.js')
  //- script(src="#{bower}/angular/angular.min.js")
  //- script(src="#{bower}/angular-resource/angular-resource.min.js")
  //- script(src="#{bower}/angular-route/angular-route.min.js")
  //- script(src="#{bower}/ng-file-upload-shim/ng-file-upload-shim.js")
  //- script(src="#{bower}/ng-file-upload/ng-file-upload.js")

  //- script(src="#{toAngular}/app.js")
  script(src='#{js}/pages.js')